<h1>Twitter</h1>

<ul>

    <% @tweets.each do |tweet| %>
        <li><%= tweet.message %> | <%= tweet.user.email %> | <%= tweet.created_at %> </li>
    <% end %>

    <%= link_to 'New Profile', new_profile_path %>

</ul>